- @menu_up_item = 'bio'

- @prerender = 'http://www.psysite.herokuapp.com/posts'

.block.block_with_menu_up
  = render partial: 'menus/menu_up'
  
.block.block_with_description{style: 'margin-left: 42px;'}
  -# .menu_back_to_posts_or_products
  -#   = render partial: 'posts/back_to_posts'
  - if @bio.main_image != ''
    = image_tag(@bio.main_image, alt: @bio.title, id: 'position_img')
  #list_name
    = @bio.title
  #list_description
    = @bio.description.html_safe

  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  -##list_date.half_of_width
  -#  = @book.date.to_s(:ru_datetime)
  -##list_price
    %span
  -#    Цена:
  -#  = @book.price
  -#  %span
  -#    = t(:monetary_unit)
  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  - if flash[:success]
    = javascript_include_tag 'auto_focus'
    #errors_style

  -# @addresser ||= NewsEmail.new
  -# @addresser_type = 'post'  
  -# @addresser_pp_id = @post.id

  -#= render partial: 'layouts/content/form_pay'

-##.block.block_with_comments
-#  = render partial: 'posts/comments'

  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')
    
.block
  = render partial: 'menus/menu_down'    
  = render partial: 'layouts/footer_rights'



