#button
  = form_for $addresser do |f|
    - if $addresser.errors.any?
      = javascript_include_tag 'auto_focus'
      :css
        #button INPUT {
          margin-bottom: 4px !important;
        }

        #button {
          margin-top: 30px !important;
        }
      #errors_style
        - $addresser.errors.each do |attribute, msg|
          - if attribute == :address
            - @address_class = 'errors_field'
          - if attribute == :name
            - @name_class = 'errors_field'
          %li
            = msg
    - unless $addresser.errors.any?
      #top_field
        Здравствуйте. Я пси&shy;холог Татьяна Вакульчик. Мне 45 лет, я люблю жизнь, людей и свою страну. Напи&shy;шите мне, чтобы начать консуль&shy;тацию, и приса&shy;живай&shy;тесь рядом на ска&shy;мейку для бе&shy;седы:
    - $addresser = nil

    %div
      = f.text_field :address, {class: 'input-address' ' input-xlarge' " #{@address_class}", type: 'text', placeholder: 'Ваш Skype или E-mail', 'data-maxsize' => '60', spellcheck: 'false'}
      = f.text_field :name, {class: 'input-name' ' input-xlarge' " #{@name_class}", type: 'text', placeholder: 'Ваше Имя', 'data-maxsize' => '50', spellcheck: 'false'}

      - @address_class = nil
      - @name_class = nil
      = f.submit 'Отправить письмо', { class: 'btn' ' btn-large' ' btn-primary' , style: ' color: white; padding: 5px 5px 5px 5px !important; font-size: 150%; font-family: Verdana, "Bitstream Vera Sans"; ', onMouseOver: "this.style.backgroundColor='rgb(0, 68, 204)'" }

      .menu_up{style: 'float: right; padding-top: 10px;'}
        %ul
          %li
            = link_to menus_path do
              %p
                = image_tag 'fond/square.png'
                На главную

