#button.margin_bottom.form_fond
  = form_for @addresser do |f|   
     

    -# @addresser.link = @product.link
    -# @addresser.has_to_pay = @product.price
    -# @addresser.title = @product.name     
    
    -#= @addresser.typ or 'notype'
    -#= @addresser.link or 'nolink' 
    -#= @addresser.has_to_pay or 'nopay' 
    -#= @addresser.pp_id or 'noid' 
    -#= @addresser.title or 'notitle'  
    
    -#= f.hidden_field :typ, value: @addresser.typ    
    -#= f.hidden_field :pp_id, value: @addresser.pp_id
    -#= f.hidden_field :link, value: "#{@addresser.link or 'no_link'}"    
    -#= f.hidden_field :has_to_pay, value: "#{@addresser.has_to_pay or 'no_has_to_pay'}"    
    -#= f.hidden_field :title, value: @addresser.title
    
     
    - @input_value_name = 'сюда'
    - @input_value_word = 'сюда'
    - @input_value_email = 'сюда'     
    
    - @write_word = true
     
    - if flash[:name_error] or flash[:email_error] or flash[:word_error] or flash[:use_for_news_error]
      - @write_word = false
      = javascript_include_tag 'auto_focus'                
      
      - if flash[:name] != ''  
        - @input_value_name = flash[:name]
      - else
        - @input_value_name = 'сюда'

      - if flash[:word] != ''  
        - @input_value_word = flash[:word]
      - else
        - @input_value_word = 'сюда'

      - if flash[:email] != ''  
        - @input_value_email = flash[:email]
      - else
        - @input_value_email = 'сюда'           
        
      
      - if flash[:name_error] or flash[:email_error] or flash[:word_error]
        %p#errors_style
          .row-fluid
            .span5.offset3
              .label_words
                .errors_style
                  Пожалуйста,
          .row-fluid
            .span5.offset3
              .label_words
                .errors_style{style: 'font-size: 110%;'}
                  напишите
                  
      - if flash[:use_for_news_error]
        %p#errors_style
          .row-fluid
            .span5.offset3
              .label_words
                .errors_style
                  Пожалуйста,
          .row-fluid
            .span5.offset3
              .label_words
                .errors_style{style: 'font-size: 100%;'}
                  подтвердите ещё раз                  
                  
                  

      - if flash[:name_error]
        - @name_class = 'errors_field'
        - flash[:name_error] = nil
      - if flash[:email_error]
        - @email_class = 'errors_field'
        - flash[:email_error] = nil
      - if flash[:word_error] 
        - @word_class = 'errors_field'
        - flash[:word_error] = nil
      - if flash[:use_for_news_error]  
        - @use_for_news_class = 'errors_field'
        - flash[:use_for_news_error] = nil
            
    %div{id: "#{@use_for_news_class}"}
    .row-fluid
      .span12
        - if @write_word   
          .row-fluid
            .span6
              .label_words
                Напишите

        .row-fluid
          .span6
            .label_words
              Ваше имя:                  
          .span6{style: 'margin-top: -3px;'}
            = f.text_field :name, {class: 'input-address' ' input-xlarge' ' my-input-xlarge' " #{@name_class}", type: 'text', value: "#{@input_value_name}", 'data-maxsize' => '60', spellcheck: 'false', onfocus: "if (this.value == 'сюда') {this.value = '';}", onblur: "if (this.value == '') {this.value = 'сюда';}"}
            - @name_class = nil

        .row-fluid
          .span6
            .label_words{style: 'margin-left: -6px;'}
              Число '#{$form_control_digit}':
          .span6{style: 'margin-top: -3px; margin-left: 4px;'}
            = f.text_field :word, {class: 'input-address' ' input-xlarge' ' my-input-xlarge' " #{@word_class}", type: 'text', value: "#{@input_value_word}", 'data-maxsize' => '60', spellcheck: 'false', onfocus: "if (this.value == 'сюда') {this.value = '';}", onblur: "if (this.value == '') {this.value = 'сюда';}"}
            - @word_class = nil

        .row-fluid
          .span6
            .label_words{style: 'margin-left: 2px;'}
              Ваш E-mail:
          .span6{style: 'margin-top: -3px; margin-left: 1px !important;'}
            = f.text_field :email, {class: 'input-address' ' input-xlarge' ' my-input-xlarge' " #{@email_class}", type: 'text', value: "#{@input_value_email}", 'data-maxsize' => '60', spellcheck: 'false', onfocus: "if (this.value == 'сюда') {this.value = '';}", onblur: "if (this.value == '') {this.value = 'сюда';}"}


            - @email_class = nil

        - unless flash[:name_error] or flash[:email_error] or flash[:word_error] or flash[:use_for_news_error]
          .div_around_submit_button
            #top_field{style: 'width: 70%;'}
              = flash[:notise]

        -# @addresser = nil
        - @input_value_name = nil
        - @input_value_word = nil
        - @input_value_email = nil   


        .div_around_submit_button{style: 'width: 70%;'}
          #email_security
            #{image_tag ('form/form_security.png')} Для Вашей безопасности
            %br/
            Ваш E-mail не будет виден посетителям сайта

        - unless @addresser_type == 'post'
          .div_around_submit_button{style: 'width: 70%;'}
            = label_tag :use_for_news, id: 'form_pay_checkbox_label' do
              = f.check_box :use_for_news, {id: 'form_pay_checkbox', checked: true}
              Да, я хочу получать новые статьи и видео семинары на свой E-mail
              
        
        -#= hidden_field_tag(:type, "#{@addresser_type}")
        -#-# post
        -#- if @addresser_pp_id
        -#  = hidden_field_tag(:pp_id, "#{@addresser_pp_id}")
        -#-# product   
        -#- if @addresser_link
        -#  = hidden_field_tag(:link, "#{@addresser_link}")
        -#- if @addresser_has_to_pay
        -#  = hidden_field_tag(:has_to_pay, "#{@addresser_has_to_pay}")
        -#- if @addresser_title
        -#  = hidden_field_tag(:title, "#{@addresser_title}")                              
          
        - @adderesser_type = nil
        - @adderesser_pp_id = nil
        - if @addresser_link
          - @addresser_link = nil
        - if @addresser_has_to_pay            
          - @addresser_has_to_pay = nil
        - if @addresser_title        
          - @addresser_title = nil

        - flash[:name_error] = nil
        - flash[:email_error] = nil
        - flash[:word_error] = nil
        - flash[:use_for_news_error] = nil
        - flash[:name] = nil
        - flash[:email] = nil
        - flash[:word] = nil



        .div_around_submit_button
          = f.submit 'Да, всё так', {class: ' btn-primary ' ' btn ' ' btn-large ' ' my-btn ' ' my-btn-large ', title: 'Нажать на кнопку' }

