#button
  = form_for $addresser do |f|
    - if $addresser.errors.any?
      = javascript_include_tag 'auto_focus'
      :css
        #button INPUT {
          margin-bottom: 4px !important;
        }

        #button {
          margin-top: 30px !important;
        }
      #errors_style
        - $addresser.errors.each do |attribute, msg|
          - if attribute == :email
            - @email_class = 'errors_field'
          %li
            = msg
    - unless $addresser.errors.any?
      #top_field
        = $top_field_text
    - $top_field_text = nil
    - $addresser = nil

    %div
      = f.text_field :email, {style: 'font-weight:600; font-size:150%; height: 30px; width:90%;', class: 'input-address' ' input-xlarge' " #{@email_class}", type: 'text', placeholder: 'Ваш E-mail', 'data-maxsize' => '60', spellcheck: 'false'}
      - @email_class = nil
      = f.submit 'Ok', {class: 'btn' ' btn-large' ' btn-primary' , style: ' color: white; padding: 5px 5px 5px 5px !important; font-size: 150%; font-family: Verdana, "Bitstream Vera Sans"; font-weight:600;', onMouseOver: "this.style.backgroundColor='rgb(0, 68, 204)'" }

