#button.margin_bottom.margin_top
  = form_for $addresser do |f|
    - if $addresser.errors.any?
      = javascript_include_tag 'auto_focus'
      :css
        #button INPUT {
          margin-bottom: 4px !important;
        }

        #button {
          margin-top: 30px !important;
        }
      #errors_style
        - $addresser.errors.each do |attribute, msg|
          - if attribute == :email
            - @email_class = 'errors_field'
          - if attribute == :name
            - @name_class = 'errors_field'
          - if attribute == :word
            - @word_class = 'errors_field'
          %li
            = msg
    - unless $addresser.errors.any?
      #top_field
        = $top_field_text
    - $top_field_text = nil
    - $addresser = nil



    %div
      = f.text_field :name, {class: 'input-address' ' input-xlarge' " #{@name_class}", type: 'text', placeholder: 'Ваше имя', 'data-maxsize' => '60', spellcheck: 'false'}
      - @name_class = nil

      = f.text_field :email, {class: 'input-address' ' input-xlarge' " #{@email_class}", type: 'text', placeholder: 'Ваш E-mail', 'data-maxsize' => '60', spellcheck: 'false'}
      - @email_class = nil
      = f.text_field :word, {class: 'input-address' ' input-xlarge' " #{@word_class}", type: 'text', placeholder: "Введите сюда число '8'", 'data-maxsize' => '60', spellcheck: 'false'}
      - @word_class = nil

      = label_tag :use_for_news, id: 'form_pay_checkbox_label' do
        = f.check_box :use_for_news, {id: 'form_pay_checkbox', checked: true}
        Да, я хочу получать новые статьи на свой E-mail

      = f.submit 'Ok', {class: 'btn' ' btn-large' ' btn-primary' , style: ' color: white; padding: 5px 5px 5px 5px !important; font-size: 160%; font-family: Verdana, "Bitstream Vera Sans"; font-weight:600;', onMouseOver: "this.style.backgroundColor='rgb(0, 68, 204)'" }

