.k
  #menu.white_text_shadow
    .row-fluid
      .span6
        .menu_vars
          = link_to arts_path do

            %p
              = image_tag 'fond/square.png'
              %b
                Читать статьи и заметки
              -#%b
              -#  Позна&shy;комиться
              -#со стать&shy;ями и замет&shy;ками, с моим твор&shy;чест&shy;вом и профес&shy;сиональ&shy;ной дея&shy;тель&shy;ностью                    
          
      .span6      
        .menu_vars
          = link_to abouts_path do
    
            %p
              = image_tag 'fond/square.png'
              %b
                Обо мне,
                контакты          
          

        -#.menu_vars
          = link_to books_path do

            %p
              ■
              %b.underline
                Приоб&shy;рести
              книги и статьи

      -#.span6
        -#.menu_vars
          = link_to films_path do

            %p
              ■
              %b.underline
                Приоб&shy;рести
              видео&shy;запись

        -#.menu_vars
          = link_to consults_path do

            %p
              ■
              %b.underline
                Прокон&shy;суль&shy;тиро&shy;ваться
              с&nbsp;психо&shy;ло&shy;гом по Skype




