.menu_up
  %ul  
  
    -#- if @menu_up_item != 'reviews'
      %li
        = link_to reviews_path do
          %p
            = image_tag 'fond/square.png'
            -# = image_tag 'common/favicon.ico'
            %b Отзывы

    -#- if @menu_up_item != 'films'
      %li
        = link_to films_path do
          %p
            = image_tag 'fond/square.png'
            %b Видеосеминары

    -#- if @menu_up_item != 'books'
      %li
        = link_to books_path do
          %p
            = image_tag 'fond/square.png'
            %b Книги

    - if @menu_up_item != 'posts'
      %li
        = link_to posts_path do
          %p
            = image_tag 'fond/square.png'
            %b Статьи

    -#- if @menu_up_item != 'menus' and @menu_up_item != 'new_review' 
      %li
        = link_to new_review_path do
          %p
            = image_tag 'fond/square.png'
            Оставить&nbsp;отзыв

    -#- if @menu_up_item != 'consults'
      %li
        = link_to consults_path do
          %p
            = image_tag 'fond/square.png'
            -# Личная&nbsp;
            Консультация

    - if @menu_up_item != 'bio'
      -# && @menu_up_item != 'post' && @menu_up_item != 'consult'
      %li
        = link_to bio_path(1) do
          %p
            = image_tag 'fond/square.png'
            Обо&nbsp;мне,
            Контакты
            
    %li
      = link_to menus_path do
        %p
          = image_tag 'fond/square.png'
          На&nbsp;главную
                      
-#%p
-#= image_tag('products/separator.png', alt: '--------------------------', id: 'separator')
%p
