.email
  #block
    .big_bold_color{style: 'font-size:140%; line-height:110%;'}
      Доброго времени суток,
      = @news_email.name
    %br/
    .big_bold_color{style: 'font-size:140%; line-height:110%;'}
      Вы выразили желание приобрести запись семинара психолога Татьяны Вакульчик:
      %u
        = $event_name
    %br/
    #top_field.email_top_field
      После оплаты записи семинара
      заполните форму
      = link_to "products_gets_paths" do
        по этому адресу


      %br/
      %br/
      Если Вы только собираетесь оплатить запись семинара (или не знаете, как это сделать), то пройдите на
      = link_to "http://psysite.herokuapp.com/payments/prod" do
        эту страницу

    .big_bold_color.email_footer{style: 'font-size:100%; line-height:100%;'}
      Сайт психолога Татьяны Вакульчик
      = link_to 'http://psysite.herokuapp.com' do
        Happy-Vita.com
      All rights reserved &#169; 2013-#{Time.now.year}

    .big_bold_color{style: 'font-size:140%; line-height:110%; color: $dark_blue;'}
      %i
        Счастливо и до встречи

    = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
    = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
    = image_tag('products/separator.png', alt: '--------------------', id: 'separator')

    .email_not_you
      %p
        %b
          Если это не Вы ввели свой E-mail на сайте
        , то Вам не нужно нажимать на кнопку выше; если это так, то, похоже, кто-то другой использовал Ваш E-mail, поэтому, чтобы обеспечить безопасность Вашей личной информации, рекомендую сменить пароль от Вашей почты.
