#button
  = form_for $addresser do |f|

    - if $addresser.errors.any?
      = javascript_include_tag 'auto_focus'
      :css
        #button INPUT {
          margin-bottom: 4px !important;
        }

        #button {
          margin-top: 30px !important;
        }

      #errors_style
        - $addresser.errors.each do |attribute, msg|
          - if attribute == :name
            - @name_class = 'errors_field'
          - if attribute == :surname
            - @surname_class = 'errors_field'
          - if attribute == :nation
            - @nation_class = 'errors_field'
          - if attribute == :place
            - @place_class = 'errors_field'
          - if attribute == :age
            - @age_class = 'errors_field'
          - if attribute == :profession
            - @profession_class = 'errors_field'
          - if attribute == :mention
            - @mention_class = 'errors_field'
          - if attribute == :video_url
            - @video_url_class = 'errors_field'
          - if attribute == :audio_url
            - @audio_url_class = 'errors_field'
          - if attribute == :online_address
            - @online_address_class = 'errors_field'
          - if attribute == :site
            - @site_class = 'errors_field'
          - if attribute == :img_url
            - @img_url_class = 'errors_field'

          %li
            = msg

    - unless $addresser.errors.any?
      #top_field
        = $top_field_text
    - $top_field_text = nil
    - $addresser = nil

    .row-fluid
      .span6
        = f.text_field :name, {class: 'input-address' ' input-xlarge' " #{@name_class}", type: 'text', placeholder: 'Ваше имя', 'data-maxsize' => '30', spellcheck: 'false'}
        = f.text_field :surname, {class: 'input-address' ' input-xlarge' " #{@surname_class}", type: 'text', placeholder: 'Фамилия', 'data-maxsize' => '30', spellcheck: 'false'}
        = f.text_field :nation, {class: 'input-address' ' input-xlarge' " #{@nation_class}", type: 'text', placeholder: 'Страна', 'data-maxsize' => '30', spellcheck: 'false'}
        = f.text_field :place, {class: 'input-address' ' input-xlarge' " #{@place_class}", type: 'text', placeholder: 'Город', 'data-maxsize' => '30', spellcheck: 'false'}
        = f.text_field :age, {class: 'input-address' ' input-xlarge' " #{@age_class}", type: 'text', placeholder: 'Возраст', 'data-maxsize' => '3', spellcheck: 'false'}
        = f.text_field :profession, {class: 'input-address' ' input-xlarge' " #{@profession_class}", type: 'text', placeholder: 'Профессия', 'data-maxsize' => '60', spellcheck: 'false'}

      .span6
        = f.text_field :mention, {class: 'input-address' ' input-xlarge' " #{@mention_class}", type: 'text', placeholder: 'Отзыв', 'data-maxsize' => '2000', spellcheck: 'false'}
        = f.text_field :video_url, {class: 'input-address' ' input-xlarge' " #{@video_url_class}", type: 'text', placeholder: 'или сылка на видео отзыв', 'data-maxsize' => '500', spellcheck: 'false'}
        = f.text_field :audio_url, {class: 'input-address' ' input-xlarge' " #{@audio_url_class}", type: 'text', placeholder: 'или сылка на аудио отзыв', 'data-maxsize' => '500', spellcheck: 'false'}
        = f.text_field :online_address, {class: 'input-address' ' input-xlarge' " #{@online_address_class}", type: 'text', placeholder: 'E-mail или Skype...', 'data-maxsize' => '500', spellcheck: 'false'}
        = f.text_field :site, {class: 'input-address' ' input-xlarge' " #{@site_class}", type: 'text', placeholder: 'Ваш сайт (если есть)', 'data-maxsize' => '200', spellcheck: 'false'}
        = f.text_field :img_url, {class: 'input-address' ' input-xlarge' " #{@img_url_class}", type: 'text', placeholder: 'Ссылка на Ваше фото (необязательно)', 'data-maxsize' => '300', spellcheck: 'false'}

      - @name_class = nil
      - @surname_class = nil
      - @nation_class = nil
      - @place_class = nil
      - @age_class = nil
      - @profession_class = nil
      - @mention_class = nil
      - @video_url_class = nil
      - @audio_url_class = nil
      - @online_address_class = nil
      - @site_class = nil
      - @img_url_class = nil

      = f.submit 'Ok', { class: 'btn' ' btn-large' ' btn-primary' , style: ' color: white; padding: 5px 5px 5px 5px !important; font-size: 150%; font-family: Verdana, "Bitstream Vera Sans"; ', onMouseOver: "this.style.backgroundColor='rgb(0, 68, 204)'" }

