-#>>> page with REVIEWS (mentions)

- @prerender = 'http://www.psysite.herokuapp.com/pers'

-# NAME of page (e.g. is used for menu_up partial)
- @menu_up_item = 'mentions'

-# title is used at HTML > HEAD > TITLE
- @title='Отзывы (почувствовать счастье)'


-####### FOND
=render partial: 'mentions/mentions_fond'


#block.block.block_with_menu_up  
  -##### UP
  = render partial: 'menus/menu_up'

  -##### MAIN __________________________________________________________________________________________________________

  -# if review added successfully - puts SUCCESSFULLY MESSAGE
  - if flash[:success]
    #top_field
      = flash[:success]
      - flash[:success] = nil

  -# if there are no reviews - puts FORM FOR NEW REVIEW
  - if @mentions.count == 0
    #list_description
      Пока никто не оставил отзыв

    - @addresser ||= Mention.new
    = render partial: 'mentions/mentions_form'

    = image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  -# REVIEWS
- @mentions.reverse_order.each do |mention|
  - if mention.visible == true
    = link_to mention do
      #list
        .list_position
          .block.block_with_description{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')}"}
            %p
              -# PHOTO of the reviewer
              - if mention.img_url != ''
                = image_tag(mention.img_url, alt: mention.name, id: 'position_img_min')
              %p
                -# NAME, SURNAME, COUNTRY of the reviewer
                #list_name
                  = mention.name
                  = mention.surname
                  ,
                  = mention.nation

                -# short REVIEW of the reviewer
                %p
                  #list_description
                    = truncate(strip_tags(mention.mention), length: 150, separator: ' ')

                -# LINK to full review
                %p
                  = link_to 'Читать весь отзыв...', mention, id: 'link_under_description'



  -##### DOWN __________________________________________________________________________________________________________

.block        
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights' 

