= form_for @order do |f|
  :css
    .btn {
      margin-top: 0 !important;
      margin-bottom: 5px !important;
    }
    
    .btn:hover {
      cursor: text;
    }

  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    Пожалуйста, введите
  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    свое имя:     
  = f.text_field :name, required: '', class: ' btn ' ' my-btn ' ' my-btn-large ' ' text-field_psy ', style: 'background-color: white; color: green !important; max-width: 300px;'

  
  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    E-mail:       
  = f.text_field :email, required: '', class: ' btn ' ' my-btn ' ' my-btn-large ', style: 'background-color: white; color: green !important; max-width: 300px;'

  
  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    Удобные дату и время 
    %br/
    (необязательно):       
  = f.text_field :cool_time1, class: ' btn ' ' my-btn ' ' my-btn-large ', style: 'background-color: white; color: green !important; max-width: 300px;'
  = f.submit 'Ok', class: ' btn ' ' btn-success ' ' submit_button_psy '



