= form_for @order do |f|
  :css
    .btn {
      margin-top: 0 !important;
      margin-bottom: 5px !important;
    }
    
    .btn:hover {
      cursor: text;
    }

  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    Пожалуйста, введите
  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    свое имя:     
  = f.text_field :name, class: ' btn ' ' my-btn ' ' my-btn-large ', style: 'background-color: white; color: green !important; max-width: 300px;'

  
  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    E-mail:       
  = f.text_field :email, class: ' btn ' ' my-btn ' ' my-btn-large ', style: 'background-color: white; color: green !important; max-width: 300px;'

  
  .label_words{style: 'text-align: center !important; color: #175717 !important; font-size: 160%;'}
    Удобные дату и время (необязательно):       
  = f.text_field :cool_time1, class: ' btn ' ' my-btn ' ' my-btn-large ', style: 'background-color: white; color: green !important; max-width: 300px;'
  



  -#
    = f.datetime_field :cool_time1,  value: 'Удобное время (необязательно)'  
  
    = f.radio_button :pay_way, value: 'Карта украинского банка'
    = f.radio_button :pay_way, value: 'Карта зарубежного банка'
    = f.radio_button :pay_way, value: 'Другой способ'    
    
    = f.text_field :promo, value: 'Скидочный код (необязательно)'  
  = f.submit 'Ok'
  
  
