- @menu_up_item = 'books'

- @prerender = 'http://www.psysite.herokuapp.com/films'

.block.block_with_menu_up
  = render partial: 'menus/menu_up'
  
  -if $success_msg
    #top_field
      = $success_msg
    - $success_msg = nil



- @books.reverse_order.each do |book|
  - if book.able == true
    = link_to book, target: '_blank' do
      #list
        .list_position
          .block.block_with_description{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')}"}
            %p
              = image_tag(book.main_image, alt: book.title, id: 'position_img_min')
            %p
              #list_name
                = book.title
            %p
              #list_description{style: 'font-size: 150%'}
                -#■
                = image_tag 'fond/square.png'  
                = truncate(strip_tags(book.description), length: 150, separator: ' ')
            %p
              = link_to 'Читать всю статью...', book, id: 'link_under_description', target: '_blank'
            -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')               


        
.block        
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights'
