- @menu_up_item = 'films'

- @prerender = 'http://www.psysite.herokuapp.com/posts'

.block.block_with_menu_up
  = render partial: 'menus/menu_up'
  
  -if $success_msg
    #top_field
      = $success_msg
    - $success_msg = nil

  -##list
- @films.reverse_order.each do |film|
  - if film.able == true
    = link_to film, target: '_blank' do
      #list
        .list_position
          .block.block_with_description{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')}"}
            %p
              = image_tag(film.main_image, alt: film.title, id: 'position_img_min')
            %p
              #list_name
                = film.title
            %p
              #list_description{style: 'font-size: 150%'}
                -#■
                = image_tag 'fond/square.png'  
                = truncate(strip_tags(film.description), length: 150, separator: ' ')
            %p
              = link_to 'Читать всю статью...', film, id: 'link_under_description', target: '_blank'
            -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')               
        
.block        
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights'
