#fond_part
  #fond_h_org_author
    = render partial: 'layouts/fond/org'
    = render partial: 'layouts/fond/author'
  #fond_imgs_min
    = render partial: 'layouts/fond/bread'
    = render partial: 'layouts/fond/social'
    = render partial: 'layouts/fond/imgs_min'

#fond_green
= image_tag 'forest.jpg', id: 'forest_img', alt: 'Умиротворяющий лес'
/[if lt IE 9]
  = image_tag 'forest_ie.jpg', id: 'forest_img', alt: 'Умиротворяющий лес'