#fond_part
  #fond_h_org_author
    = render partial: 'layouts/fond/org'
    = render partial: 'layouts/fond/author'
  #fond_imgs_min
    = render partial: 'layouts/fond/bread'
    = render partial: 'layouts/fond/social'
    = render partial: 'layouts/fond/imgs_min'

#fond_green
- if @menu_up_item == 'menus_main'
  = image_tag 'forest/forest_original.jpg', id: 'forest_img', alt: 'Умиротворяющий лес'
- else
  = image_tag 'forest/forest_blur75.jpg', id: 'forest_img', alt: 'Умиротворяющий лес'
