#social
  %a{href: 'https://www.facebook.com/pages/Психолог-по-Skype-и-E-mail-онлайн/163688777155871'}
    = image_tag 'social/faceb.jpg', alt: 'Facebook, Фейсбук'
  %a{href: 'https://plus.google.com/communities/114445997222416340514'}
    = image_tag 'social/goo.jpg', alt: 'Google+, Гугл Плюс'
  %a{href: 'http://beregbeseda.livejournal.com/'}
    = image_tag 'social/livej.jpg', alt: 'LifeJournal, Живой Журнал, ЖЖ'
  %a{href: 'http://my.mail.ru/community/psycholog_skype/'}
    = image_tag 'social/mail.jpg', alt: 'MailRu, Меил Ру'
  %a{href: 'http://www.odnoklassniki.ru/group/51711407882385'}
    = image_tag 'social/odn.jpg', alt: 'Odnoklassniki, Одноклассники'
  = link_to image_tag('social/vk.jpg', alt: 'Vkontakte, vk, В контакте, вконтакте'), 'http://vk.com/psycholog_skype'