- @menu_up_item = 'mention'

#block
  = render partial: 'menus/menu_up'


  - if @mention.img_url != ''
    = image_tag(@mention.img_url, alt: @mention.name, id: 'position_img')
  #list_name

    = @mention.name
    = @mention.surname

    (
    = @mention.age

    лет
    )
    ,

    = @mention.place
    = @mention.nation

    .margin_bottom{style: 'font-size:110%; opacity: .7;'}
      Отзыв:

  - if @mention.video_url != ''
    .margin_bottom
      %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/#{@mention.video_url}", width: "560"}

  - if @mention.audio_url != ''
    .margin_bottom
      = link_to 'Нажмите здесь, чтобы прослушать аудио отзыв', @mention.audio_url

  - if @mention.mention != ''
    #list_description
      .big_bold_color{style: 'font-size:140%; line-height:110%;'}
        = @mention.mention.html_safe

  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  %p.margin_top
    Контакты (E-mail, Skype...):
  %p.margin_bottom{style: 'font-size:120%;'}
    = @mention.online_address
  - if @mention.site != ''
    = link_to 'Нажмите, чтобы посмотреть сайт автора отзыва', @mention.site



  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  -##list_date.half_of_width
    = @post.date.to_s(:ru_datetime)
  -##list_price
    %span
      Цена:
    = @post.price
    %span
      = t(:monetary_unit)
  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  - $addresser ||= Mention.new
  = render partial: 'mentions/mentions_form'

  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  = render partial: 'menus/menu_down'



