<h1>Listing example1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @example1s.each do |example1| %>
      <tr>
        <td><%= example1.title %></td>
        <td><%= link_to 'Show', example1 %></td>
        <td><%= link_to 'Edit', edit_example1_path(example1) %></td>
        <td><%= link_to 'Destroy', example1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Example1', new_example1_path %>
