= image_tag('posts/separator.png', alt: '--------------------', id: 'separator')
= image_tag('posts/separator.png', alt: '--------------------', id: 'separator')
= image_tag('posts/separator.png', alt: '--------------------', id: 'separator')

#comment_block.margin_bottom

  .comment_title
    - if @post.posts_comments.any?
      Комментарии:
      %b :
    - else
      Комментариев ещё нет


  - if $success_msg
    #top_field{style: 'font-weight: 700; margin-top:5px;'}
      = $success_msg
    - $success_msg = nil


  - @post.posts_comments.reverse_order.each do |comment|
    .comment
      %p
        .big_bold_color.c_comment.white_text_shadow
          %b
            = comment.comment

      .c_name_surname.white_text_shadow
        ■
        %b
          = comment.name
          = comment.surname
        ,

        = comment.created_at

      - if comment.soc_url != ''
        .c_soc_url
          Страница в соц сети, Skype и т.д:
          %b
            = comment.soc_url
      = link_to posts_path do
        %p
          .comment_answer
            %b
              Ответить

      -#.c_date
        Комментарий оставлен
        = comment.created_at

  - #$comment =
  -# $addresser = PostsComment.new
  -#= form_for($addresser) do |f|


  - $comment = @post.posts_comments.build

  .comment_title
    %p
    Вы можете оставить свой комментарий
    %b :



  - if $fail_msg
    %p
      #errors_style{style: 'font-weight: 700; margin-top:5px; font-size:150%;'}
        = $fail_msg
    - $fail_msg = nil
    - @errors_f = 'errors_field '



  -#= form_for([@post, @post.posts_comments.build]) do |f|
  = form_for([@post, $comment]) do |f|
    -# if $comment_js
      = javascript_include_tag 'auto_focus_comment'
      = $comment_js.html_safe

    - if $comment && $comment.errors.any?
      %div{style: 'color:red;'}
        HELLO!!!
      = javascript_include_tag 'auto_focus'
      :css
        #button INPUT {
          margin-bottom: 4px !important;
        }
        #button {
          margin-top: 30px !important;
        }

      #errors_style
        - $comment.errors.each do |attribute, msg|
          - if attribute == :name
            - @name_class = 'errors_field'
          - if attribute == :surname
            - @surname_class = 'errors_field'
          - if attribute == :email
            - @email_class = 'errors_field'
          - if attribute == :soc_url
            - @soc_url_class = 'errors_field'
          - if attribute == :comment
            - @comment_class = 'errors_field'
          - if attribute == :word
            - @word_class = 'errors_field'
          %li
            = msg

    #input_hey
      /[if IE]
        #list_description
          Ваше Имя :
      = f.text_field :name, {class: "#{@errors_f}" 'input-address' ' input-xlarge' " #{@name_class}", type: 'text', placeholder: 'Ваше Имя', 'data-maxsize' => '60', spellcheck: 'false'}
      - @name_class = nil

      /[if IE]
        #list_description
          Фамилия :
      = f.text_field :surname, {class: "#{@errors_f}" 'input-address' ' input-xlarge' " #{@surname_class}", type: 'text', placeholder: 'Фамилия', 'data-maxsize' => '60', spellcheck: 'false'}
      - @surname_class = nil

      #email_security
        Для Вашей безопасности
        %br/
        Ваш E-mail не будет виден посетителям сайта

      /[if IE]
        #list_description
          E-mail :
      = f.text_field :email, {class: "#{@errors_f}" 'input-address' ' input-xlarge' " #{@email_class}", type: 'text', placeholder: 'E-mail', 'data-maxsize' => '60', spellcheck: 'false'}
      - @email_class = nil

      /[if IE]
        #list_description
          Страница в Соц сети, Skype и т.д. :
      = f.text_field :soc_url, {class: 'input-address' ' input-xlarge' " #{@soc_url_class}", type: 'text', placeholder: 'Страница в Соц сети, Skype и т.д.', 'data-maxsize' => '60', spellcheck: 'false'}
      - @soc_url_class = nil

      /[if IE]
        #list_description
          Комментарий :
      = f.text_area :comment, {id: 'textarea', class: "#{@errors_f}" 'input-address' ' input-xlarge' 'input-comment' " #{@comment_class}", rows:3, type: 'text', placeholder: 'Комментарий', 'data-maxsize' => '3000', spellcheck: 'false'}
      - @comment_class = nil

      /[if IE]
        #list_description
          Введите сюда число '8' :
      = f.text_field :word, {class: "#{@errors_f}" 'input-address' ' input-xlarge' " #{@word_class}", rows: '15', type: 'text', placeholder: "Введите сюда число '8'", 'data-maxsize' => '3000', spellcheck: 'false'}
      - @word_class = nil

      = f.submit 'Добавить комментарий', {class: 'btn' ' btn-large' ' btn-primary' , style: ' color: white; padding: 5px 5px 5px 5px !important; font-size: 160%; font-family: Verdana, "Bitstream Vera Sans"; margin-top: 0; font-weight:600;', onMouseOver: "this.style.backgroundColor='rgb(0, 68, 204)'" }
