- @menu_up_item = 'posts'

- @prerender = 'http://www.psysite.herokuapp.com/products'

.block.block_with_menu_up
  = render partial: 'menus/menu_up'
  
  -if $success_msg
    #top_field
      = $success_msg
    - $success_msg = nil

  -##list
- @posts.reverse_order.each do |post|
  - if post.visible == true
    #list
      .list_position
        = link_to "/arts/#{post.id}", target: '_blank', id: 'description_link' do
          .block.block_with_description{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')}"}
            %p
              = image_tag(post.image, alt: post.name, id: 'position_img_min')
            %p
              #list_name
                = post.name
            %p
              #list_description{style: 'font-size: 150%'}
                -#■
                = truncate(strip_tags(post.description), length: 150, separator: ' ')            
            .link_under_description            
              = link_to "/arts/#{post.id}", target: '_blank', id: 'link_under_description' do
                %p
                  = image_tag 'fond/square.png'              
                  Читать всю статью
                -#= link_to 'Читать всю статью', post, id: 'link_under_description', target: '_blank'              
            -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')               
        
.block        
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights'
