- @menu_up_item = 'consult'

- @prerender = 'http://www.psysite.herokuapp.com/books'

.block.block_with_menu_up
  = render partial: 'menus/menu_up'
  
.block.block_with_description
  -# .menu_back_to_posts_or_products
  -#   = render partial: 'posts/back_to_posts'
  -#- if @book.main_image != ''
  -#  = image_tag(@book.main_image, alt: @book.title, id: 'position_img')
  #list_name
  -#  = @book.title
  #list_description
    = @consult.description.html_safe

  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  -##list_date.half_of_width
  -#  = @book.date.to_s(:ru_datetime)
  -##list_price
    %span
      Цена:
  -#  = @book.price
  -#  %span
  -#    = t(:monetary_unit)
  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  - if flash[:success]
    = javascript_include_tag 'auto_focus'
    #errors_style

  -# @addresser ||= NewsEmail.new
  -# @addresser_type = 'post'  
  -# @addresser_pp_id = @post.id

  -#= render partial: 'layouts/content/form_pay'

-##.block.block_with_comments
-#  = render partial: 'posts/comments'

  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')
    
.block
  = render partial: 'menus/menu_down'    
  = render partial: 'layouts/footer_rights'



