!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Доброго времени суток,
      = @news_email.name
      Вы выразили желание проконсультироваться с психологом (Татьяной Вакульчик).

      После оплаты консультации
      заполните форму
      = link_to "pers_gets_paths" do
        по этому адресу

      Если Вы только собираетесь оплатить консультацию (или не знаете, как это сделать), то пройдите на
      = link_to "http://psysite.herokuapp.com/payments/per" do
        эту страницу


      Если это не Вы ввели свой E-mail на сайте, чтобы оплатить консультацию, то Вам не нужно нажимать на кнопку выше.
      Если это не Вы ввели свой E-mail на сайте, чтобы оплатить консультацию, то, похоже, кто-то другой использовал Ваш E-mail. Чтобы обеспечить безопасность Вашей личной информации, рекомендую сменить пароль от Вашей почты.


      Сайт психолога Татьяны Вакульчик
      = link_to 'http://psysite.herokuapp.com' do
        Happy-Vita.com
      All rights reserved &#169; 2013-#{Time.now.year}

      Счастливо дня и до встречи

