- @menu_up_item = 'products'

#block
  = render partial: 'menus/menu_up'

  -if $success_msg
    #top_field
      = $success_msg
    - $success_msg = nil

  #list
    - @products.each do |product|

      .list_position
        = link_to product do
          %p
            = image_tag(product.image, alt: product.name, id: 'position_img_min')
            #list_name
              = product.name
            #list_description{style: 'font-size: 150%'}
              = truncate(strip_tags(product.description), length: 150, separator: ' ')
            = link_to 'Подробнее...', product, id: 'link_under_description'
          = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights'