- @menu_up_item = 'products'

#block
  = render partial: 'layouts/menu_up'

  - if $success_msg
    #top_field
      = $success_msg

  #list
    - @products.each do |product|

      = link_to product do
        .list_position
          = image_tag(product.image, alt: product.name, id: 'position_img')
          #list_name
            = product.name
          #list_description
            = truncate(strip_tags(product.description), length: 150, separator: ' ')
          = link_to 'Подробнее...', product, id: 'link_under_description'
          = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
