- @menu_up_item = 'products'

#block
  = render partial: 'menus/menu_up'

  -if $success_msg
    #top_field
      = $success_msg
    - $success_msg = nil

  #list
    - @products.reverse_order.each do |product|

      .list_position
        = link_to product do
          %p
            = image_tag(product.image, alt: product.name, id: 'position_img_min')
            %p
              #list_name
                = product.name
            %p
              #list_description
                = truncate(strip_tags(product.description), length: 150, separator: ' ')
            %p
              = link_to 'Подробнее...', product, id: 'link_under_description'
          = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights'