- @menu_up_item = 'product'

#block

  = render partial: 'menus/menu_up'

  - if @product.image != ''
    = image_tag(@product.image, alt: @product.name, id: 'position_img')
  #list_name
    = @product.name
  #list_description
    = @product.description.html_safe
  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  #list_date.half_of_width
    - if @product.date
      = @product.date.to_s(:ru_datetime)
  #list_price
    %span
      Цена:
    = @product.price
    %span
      = t(:monetary_unit)
  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  -#= render partial: 'layouts/instruction/products'

  - if $success_msg
    = javascript_include_tag 'auto_focus'
    #errors_style

  - $addresser ||= NewsEmail.new
  = render partial: 'layouts/content/form_pay'
  = render partial: 'products/comments'

  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  = render partial: 'menus/menu_down'
  = render partial: 'layouts/footer_rights'

