#block
  = render partial: 'layouts/menu_up'
  = image_tag(@review.img_url, alt: @review.name, id: 'position_img')
  #list_name
    = @review.name
  #list_description
    = @review.review.html_safe
  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')
  -##list_date.half_of_width
    = @post.date.to_s(:ru_datetime)
  -##list_price
    %span
      Цена:
    = @post.price
    %span
      = t(:monetary_unit)
  -#= image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  - $addresser ||= Review.new
  = render partial: 'layouts/forms/mention_form'



