.menu_up
  %ul
    %li
      = link_to abouts_path do
        %p
          = image_tag 'fond/square.png', size: '16x13'
          Обо&nbsp;мне
    %li
      = link_to pers_path do
        %p
          = image_tag 'fond/square.png', size: '16x13'
          Личная&nbsp;консультация
    %li
      = link_to products_path do
        %p
          = image_tag 'fond/square.png', size: '16x13'
          Купить&nbsp;запись
    %li
      = link_to posts_path do
        %p
          = image_tag 'fond/square.png', size: '16x13', style: 'padding-bottom: 2px;'
          Вебинары
= image_tag('products/separator.png', alt: 'white', id: 'separator')
