.menu_up
  %ul
    %li
      = link_to abouts_path do
        %p
          = image_tag 'fond/square.png', size: '6x5'
          Обо&nbsp;мне
    %li
      = link_to pers_path do
        %p
          = image_tag 'fond/square.png', size: '6x5'
          Личная&nbsp;консультация
    %li
      = link_to products_path do
        %p
          = image_tag 'fond/square.png', size: '6x5'
          Купить&nbsp;запись
    %li
      = link_to posts_path do
        %p
          = image_tag 'fond/square.png', size: '6x5'
          Вебинары
= image_tag('products/separator.png', alt: 'white', id: 'separator')
