!!!
%html
  %head
    = render partial: 'layouts/head/head'
  %body
    /[if lt IE 7]
      <div class="wrapper">
    = render partial: 'layouts/fond/fond'
    = render partial: 'layouts/content/content'
    /[if lt IE 7]
      </div>

    /[if lt IE 7]
      .box
        - unless @menu_up_item != 'menus_main' or @menu_up_item != 'bio' or session[:visited_psy]
          = image_tag 'forest/forest_original.jpg', id: 'forest_img_ie6', alt: 'Умиротворяющий лес'
        - else
          = image_tag 'forest/forest_blur75.jpg', id: 'forest_img_ie6', alt: 'Умиротворяющий лес'





